/*======== VARIABLES ========= */
/*======== BODY ========= */
body {
  margin: 0 auto;
  color: #d1cfcf;
  font-family: "Roboto", sans-serif;
  background-color: #171E25; }

/*======== HEADER SECTION ========= */
header {
  background-color: #000000;
  width: 100%;
  height: 9vw;
  display: flex;
  justify-content: center; }
  header h1 {
    margin: 0;
    align-self: center;
    font-weight: normal;
    font-size: 5vw;
    color: #ffffff; }

/*======== NAVBAR SECTION ========= */
nav {
  background-color: #434343;
  width: 100%;
  height: 6.5vw;
  display: flex; }
  nav a {
    text-decoration: none;
    color: #d1cfcf;
    align-self: center;
    font-weight: bold;
    font-size: 3vw;
    margin-left: 2vw; }
    nav a:hover {
      color: #ffa929; }

/*======== MAIN SECTION ========= */
main {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center; }

#main-header {
  width: 96%;
  height: 5vw;
  display: flex;
  align-items: baseline;
  margin: 2vw auto 1vw; }

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 3vw;
  flex-grow: 2;
  text-align: center;
  margin-left: 8vw; }

#sort {
  background: none;
  border: none;
  font-size: 2.5vw;
  color: #d1cfcf; }
  #sort span {
    font-size: 3vw; }
  #sort:hover {
    border-radius: 1vw;
    box-shadow: 1px 1px 3px grey, -1px -1px 3px grey; }

#article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
  margin: 4vw auto; }

/*======== ARTICLE SECTION (rendered by JS code) ========= */
article {
  background-color: #101010;
  width: 45%;
  height: 21.5vw;
  display: flex;
  align-items: space-between;
  padding: 1vw 1vw 1vw 1.5vw;
  margin-bottom: 6vw; }
  article:hover {
    box-shadow: 1px 1px 20px #ffa929, -1px -1px 20px #ffa929; }

.article-img {
  width: 35%;
  margin-right: 0.8vw;
  border-radius: 2px;
  box-shadow: 1px 1px 1px grey, -1px -1px 1px white; }

.article-text {
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  .article-text h3 {
    margin: 0;
    font-size: 2.7vw; }
  .article-text p {
    margin: 0;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-right: 0.5vw;
    align-self: flex-start; }

.like-box {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .like-box button {
    background: none;
    border: none; }
  .like-box span {
    margin: 0 0.3vw;
    font-size: 3vw;
    color: #2fa33b; }
  .like-box img {
    width: 3vw;
    margin-right: 0.5vw; }
  .like-box div {
    width: 7vw;
    height: 7vw;
    border-radius: 7vw;
    background-color: #2fa33b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: #ffffff; }

/*======== FOOTER SECTION ========= */
footer {
  width: 100%;
  height: 14vw;
  background-color: #000000;
  display: flex;
  justify-content: center;
  margin-top: 22vw; }
  footer p {
    margin: 0;
    align-self: center;
    font-size: 3.5vw;
    color: #ffffff; }

/*# sourceMappingURL=style.css.map */
