/*======== VARIABLES =========*/
$page-font-color: #ffffff
$background-color: #000000

/*======== BODY =========*/
body
	margin: 0 auto
	color

/*======== HEADER SECTION =========*/


/*======== NAVBAR SECTION =========*/


/*======== MAIN SECTION =========*/


/*======== FOOTER SECTION =========*/